{% extends 'base.html' %}

{% block title%}
  react test
{% endblock %}

{% block head_scripts%}
  <!-- Load D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}

{% block content%}
  <h3> {{str}} </h3>
  <a href="{{url_for('home')}}">home</a>
  <br />
  <a href="{{url_for('patient_visualizer.patients')}}">patients_list</a>
  <div id="root"></div>
{% endblock %}

{% block footer_scripts %}
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script type="module" src="{{ url_for('patient_visualizer.static', filename='react_dst/index.js')}}"></script>
{% endblock %}
