.patients_list_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.patients_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
}

.patients_list p:nth-child(3n+2) {
    text-align: center
}

.patients_list p:nth-child(3n+3) {
    text-align: right;
}

.patients_list p {
    width: 33%;
}

.app {
    justify-content: center;
    margin-bottom: 40px;
}

.app__graph-wrapper{
    display: flex;
}

.app__graph-tabs{
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.app__graph-tabs .tab{
    margin: 0 5px 0 5px;
    padding: 5px;
}

.app__graph-tabs .tab-active{
    background-color: #f0f0f0;
}

.app__graph-tabs .tab:hover{
    cursor: pointer;
    background-color: #dadada;
}

.data-from-graph {
    display: none;
}

small {
    display: block;
}

.general_info {
    margin-bottom: 40px;
}

.graph {
    border: 1px solid dimgray;
    border-radius: 2px;
    margin: 0 5px 5px 5px;
    position: sticky;
    top: 0;
}

.app__control-panel {
    margin: 0 5px;
    /*max-height: 30vh;*/
    width: 400px;
}

.panel {
    background: ghostwhite;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid dimgray;
    margin-bottom: 5px;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-header h6 {
    margin-bottom: 0;
}

.toggle-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.panel-header-btn {
    font-size: 1rem;
    color: gray;
    margin-right: 15px;
}


.panel .hidden {
    height: 0;
    overflow: hidden;
}

.panel-content {
    margin: 0 15px;
}

.panel-content h6{
    text-align: center;
}

.panel-settings{
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.ab-list-wrapper{
    border: 1px solid black;
    border-radius: 2px;
    padding: 15px 0;
}

.ab-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 3px 25px 3px 0;
    padding: 0 10px;
    background: ghostwhite;
}

.ab-item div{
    display: flex;
    align-items: center;
}

.ab-item > input{
    width: 60px;
    height: 20px;
    text-align: center;
}

.test-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-group-header p {
    pointer-events: none;
    margin: 5px 0;
}

.test-group-header:hover {
    cursor: pointer;
}

.test-group-header:hover {
    background: whitesmoke;
}

.test-group-title {
    font-weight: 700;
    font-size: 12px;
}

.test-info {
    display: flex;
    flex-flow: column;
    margin: 0 15px 10px 10px;
    line-height: 1.2;
    font-size: 12px;
}

.test-info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 3px;
}


.test-settings-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test-settings{
    margin-top: 4px;
}

.test-info textarea {
    background: #FAFEFF;
    font-size: 11px;
    text-align: justify;
    resize: none;
    line-height: 12px;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

.panel-parameters{
    margin-left: 25px;
}
.two-cols {
    column-count: 2;
}

.general_controls {
    display: none;
    margin-bottom: 50px;
}

.additional-tests-panel .test-info{
    border: 1px solid black;
    margin-bottom: 4px;
    padding: 5px 8px;
}

.additional-tests-panel .test-settings-buttons button{
    background: #FAFEFF;
    border: 1px solid;
    border-radius: 3px;
    padding-bottom: 4px;
    margin-top: 8px;
}

.additional-tests-panel .settings-row button{
    background: inherit;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

.additional-tests-panel .settings-row button:focus{
    outline: none;
}

.settings-row{
    margin: 2px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.current-color{
    margin-left: 10px;
    width: 40px;
    height: 15px;
    border-radius: 4px;
    opacity: 0.6;
    cursor: pointer;
}

.color-palette{
    z-index: 2;
    background-color: white;
    position: absolute;
    left: 120px;
    width: 140px;
    height: 60px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 3px;
}

.color-palette .color{
    height: 15px;
    width: 40px;
    border-radius: 4px;
    opacity: 0.6;
    cursor: pointer;
}
