.patients_list_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.patients_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
}

.patients_list p:nth-child(3n+2) {
    text-align: center
}

.patients_list p:nth-child(3n+3) {
    text-align: right;
}

.patients_list p {
    width: 33%;
}

.app {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.data-from-graph {
    display: none;
}

small {
    display: block;
}

.general_info {
    margin-bottom: 40px;
}

.graph {
    border: 1px solid dimgray;
    border-radius: 2px;
    margin: 0 5px
}

.app__control-panel {
    margin: 0 5px;
    max-height: 30vh;
    width: 400px;
}

.panel {
    background: ghostwhite;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid dimgray;
    margin-bottom: 5px;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-header h6 {
    margin-bottom: 0;
}

.toggle-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.panel-header-btn {
    font-size: 1rem;
    color: gray;
    margin-right: 15px;
}


.panel .hidden {
    height: 0;
    overflow: hidden;
}

.panel-content {
    margin: 0 15px;
}

.test-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-group-header p {
    pointer-events: none;
    margin: 5px 0;
}

.test-group-header:hover {
    cursor: pointer;
}

.test-group-header:hover {
    background: whitesmoke;
}

.test-group-title {
    font-weight: 700;
    font-size: 12px;
}

.test-info {
    display: flex;
    flex-flow: column;
    margin: 0 15px 10px 10px;
    line-height: 1.2;
    font-size: 12px;
}

.test-info textarea {
    background: #FAFEFF;
    font-size: 11px;
    text-align: justify;
    resize: none;
    line-height: 12px;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

.panel-parameters{
    margin-left: 25px;
}
.two-cols {
    column-count: 2;
}

.general_controls {
    display: none;
    margin-bottom: 50px;
}